.f-card {
  background: white;
  flex: 1;
  text-align: center;
  min-width: 280px;
  border-radius: 10px;
  padding: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.s-card {
  padding: 18px;

  flex: 1;
  margin: -60px 10px -30px;
  min-width: 280px;

  border-radius: 10px;
  background: white;
}
.t-card {
  flex: 1;
  padding: 24px;
  min-width: 280px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #2b91f6;
  margin-left: -10px;
}
.ant-slider-handle {
  width: 24px;
  height: 24px;
  margin-top: -10px;
  background-image: url(https://cdn.iconscout.com/icon/premium/png-512-thumb/left-right-arrow-1752289-1492362.png);
}
